.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* 2nd font style */

.open-sans-logo {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* header style */

.header {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* container */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* nav styles  */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 161px;
}
.nav-logo,
.open-sans-logo {
  color: #4e47ff;
  font-weight: 800;
  font-size: 30px;
  text-shadow: 1px 1px black;
}
.button-all {
  background-color: #4e47ff;
  color: white;
  font-size: 16px;
  padding: 12px 36px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
}

/* banner style */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  gap: 20px;
}

.title {
  font-size: 65px;
  color: #252432;
  font-weight: 700;
}

/* main body style */

.action {
  padding: 116px 159px 116px 141px;
  background-color: #f7f9ff;
}

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.action-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.action-description {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgba(37, 36, 50, 0.24);
}

.action-image {
  display: flex;
  justify-content: center;
}

.action-image img {
  max-width: 100%;
  border-radius: 20px;
}

/* information section style */

.information {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 159px 40px 141px;
  background-color: #f7f9ff;
}

.information-container {
  width: 1000px;
  padding: 50px 80px;
  background: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.information-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.information-title {
  text-align: center;
  color: #252432;
  font-size: 38px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
  align-self: stretch;
}

.stats-grid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 158px;
  align-self: stretch;
}

.stat-item {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.stat-number {
  color: #4e47ff;
  font-size: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

.stat-label {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

/* review section style */

.review {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 159px 40px 141px;
  background-color: #f7f9ff;
}

.review-container {
  width: 1000px;
  padding: 50px 80px;
  /* background: rgba(255, 255, 255, 1); */
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.review-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.review-title {
  text-align: center;
  color: #252432;
  font-size: 42px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
  align-self: stretch;
}

.review-grid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.review-card {
  flex: 1 1 0;
  min-width: 240px;
  padding: 24px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 14px;
  border: 1px solid #f2eded;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.review-stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.star-icon {
  width: 20px;
  height: 20px;
}

.review-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.review-heading {
  color: #1e1e1e;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 28.8px;
  word-wrap: break-word;
}

.review-description {
  flex: 1 1 0;
  color: #1e1e1e;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
  align-self: stretch;
}

.review-author {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.author-details {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
}

.author-name {
  align-self: stretch;
  color: #757575;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 22.4px;
  word-wrap: break-word;
}

.author-date {
  align-self: stretch;
  color: #b3b3b3;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
}
